<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Rescuer</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


        <link rel="stylesheet" href="css/resources.css">
        <link rel="stylesheet" href="css/rescuer.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    </head>
    <body>
        <div id="map">
        </div>
        <div class="victims">
            <%
                victimList.forEach(victim => { %>
                    <div class="card" id="c<%=victim.id%>" onclick="openCard(<%=victim.id%>)">
                        <div class="info-wrapper">
                            <h4 class="card-header-text"><%= victim.name %></h4>
                            <div class="details body-text">
                                <div class="info-block">Distance: <%= Math.floor(Math.abs(victim.location.coordinates[0]-victim.location.coordinates[1])) %></div> <div class="info-block">Severity: <%= victim.emergencyLevel %></div>
                            </div>
                        </div>
                    </div>
            <%
                })
            %>
        </div>
        <%
            victimList.forEach(victim => { %>
                <div class="card expanded" id="e<%=victim.id%>">
                    <button class="btn-dismiss" onclick="dismiss()"><i class="fas fa-times"></i></button>
                    <div class="info-container">
                        <div class="expanded-card-header">
                            <h4 class="card-header-text"><%= victim.name %></h4>
                        </div>
                        <div class="info-wrapper">
                            <p class="body-text">Phone #: <%= victim.phone %></p>
                            <p class="body-text">Distance: <%= Math.floor(Math.abs(victim.location.coordinates[0]-victim.location.coordinates[1])) %></p>
                            <p class="body-text">Severity: <%= victim.emergencyLevel %></p>
                            <p class="body-text">Description: <%= victim.info %></p>
                            <p class="body-text">Number of People: <%= victim.numPeople %></p>
                        </div>
                        <div class="button-wrapper">
                            <button onClick="startRescue" class="btn">Rescue</button>
                        </div>
                    </div>
                </div>
        <%
            })
        %>
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous">
        </script>

        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD54tRMyjOB8mJCrMWI2-UYkfC6_MaY1PQ&callback=initMap">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

        <script src="js/rescuer.js"></script>
    </body>
</html>
